@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

strong {
  font-weight: 500;
}

span {
  font-size: 20px;
  line-height: 28px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

a {
  text-decoration: underline;
}

@media (max-width: 768px) {
  p {
    font-size: 16px;
    line-height: 22.4px;
  }

  h3 {
    font-size: 22px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 24px;
    line-height: 24px;
  }
}

.accordion-wrapper {
  div {
    padding: 0px !important;
    /* gap: 1rem !important; */
  }
}

.exhibition-body {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* Used when entering "/exhibitions" from home page */
.slide-back-top {
  animation: slide-back-top 1s ease-in-out forwards;
}
/* Used when entering home page from Anyhwere */
.slide-back-bottom {
  animation: slide-back-bottom 1s ease-in-out forwards;
}

.slide-downwards {
  animation: slide-downwards 1s ease-in-out forwards;
}
.slide-upwards {
  animation: slide-upwards 1s ease-in-out forwards;
}

.fade-out {
  animation: fade-out 1s ease-in-out forwards;
}
.fade-out-fast {
  animation: fade-out 0.5s ease-in-out forwards;
}

.fade-to-text-black-fast {
  animation: fade-to-text-black 0.5s ease-in-out forwards;
}
.fade-to-text-white-fast {
  animation: fade-to-text-white 0.5s ease-in-out forwards;
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-to-text-black {
  to {
    color: black;
  }
}

@keyframes fade-to-text-white {
  to {
    color: white;
  }
}

@keyframes slide-back-top {
  from {
    transform: translateY(-50svh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-back-bottom {
  from {
    transform: translateY(50svh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-upwards {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50svh);
    height: 0px;
  }
}
@keyframes slide-downwards {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50svh);
    height: 0px;
  }
}

body {
  overflow: hidden;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
